include kts_linguistics/corpora/data/corpora/*
include kts_linguistics/corpora/data/precomputed_corpora_counters/*
include kts_linguistics/corpora/data/precomputed_sentences/*
include kts_linguistics/synonyms/data/*
